{% extends 'core_lms/base/base_site.html' %}
{% load i18n %}
{% block title %}{% translate 'Core LMS' %} | {{ course.title }}{% endblock %}
{% block content %}
    <div class="bg-dark text-white p-3 px-lg-5 rounded-3">
        <h1 class="display-1">
            {{ course.title }}
        </h1>
        <p class="lead">
            {{ course.about }}
        </p>
        <div>
            {{ course.description|slice:'0:40'|linebreaks }}
            <span id="{{ course.title|slugify }}-description" class="collapse">
                {{ course.description|slice:'40:'|linebreaks }}
            </span>
            <a href="#" data-bs-toggle="collapse" data-bs-target="#{{ course.title|slugify }}-description">
                {% translate 'Read more' %}...
            </a>
        </div>
    </div>
{% endblock %}