{# Base template for structuring the HTML and extending. #}
{% extends 'core_lms/base/base.html' %}
{% load i18n %}
{% block header %}
    {# Navbar here #}
    {% include 'core_lms/includes/components/navbar.html' with color='light' bg_color='white' %}
{% endblock %}
{% block main %}
    {# Content here. #}
    <section class="container pt-4">
        {% if messages %}
            {% include 'core_lms/includes/components/messages.html' %}
        {% endif %}
        {% block content %}{% endblock %}
    </section>
{% endblock %}