{% extends 'core_lms/base/base_site.html' %}
{% load i18n static %}
{% block body_attrs %}class="overflow-lg-hidden vh-lg-100"{% endblock %}
{% block main %}
    <section class="d-flex flex-column flex-lg-row h-100">
        <div class="col-12 col-lg-3 sidebar ps-1 pe-1 pe-lg-0 pb-1">
            {% include 'core_lms/includes/components/sidebar.html' %}
        </div>
        {# When you use this template and you do not want to page content you need to change the main_col_width in sub-templates #}
        {# Take a look at 'JApp/templates/JApp/authentication/base.html' to see an example of extending this template #}
        <div class="col-12 col-lg-{% block main_col_width %}6{% endblock %} sidebar overflow-y-lg-auto">
            <div class="container mt-4 mt-lg-0">
                <nav aria-label="breadcrumb" class="card card-body mb-4">
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item">
                            <a href="{% url 'core_lms:index' %}">
                                {% translate 'Home' %}
                            </a>
                        </li>
                        {% block breadcrumb %}
                            <li class="breadcrumb-item active">
                                {% translate 'Dashboard' %}
                            </li>
                        {% endblock %}
                    </ol>
                </nav>
                {% if messages %}
                    {% include 'core_lms/includes/components/messages.html' %}
                {% endif %}
                {% block content %}
                    <h1 class="display-1">
                        {% translate 'Welcome to Dashborad' %}
                    </h1>
                    <p class="lead">
                        {% translate 'You can use this template to build your dashbaord.' %}
                    </p>
                {% endblock %}
            </div>
        </div>
        {% block panel %}
            <div class="col-12 col-lg-3 sidebar ps-1 px-1 ps-lg-0 pb-1">
                {% include 'core_lms/includes/components/panel.html' with bg_color='dark' %}
                {# Copy the content of panel.html and paste it here to use it. #}
            </div>
        {% endblock %}
    </section>
{% endblock %}