{% extends 'core_lms/base/base_site.html' %}
{% load i18n static %}
{% block body_attrs %}class="overflow-lg-hidden vh-lg-100"{% endblock %}
{% block main %}
    <section class="d-flex flex-column flex-lg-row h-100 px-3">
        <div class="col-12 col-lg-3 sidebar pb-lg-1 mt-4 mt-lg-0">
            {% include 'core_lms/includes/components/sidebar.html' with color='light' bg_color='white' %}
        </div>
        <div class="col-12 col-lg-9 sidebar overflow-y-lg-auto">
            <div class="container mt-4 mt-lg-0">
                <nav aria-label="breadcrumb" class="card card-body mb-4">
                    <ol class="breadcrumb mb-0">
                        {% url 'core_lms:dashboard' as dashboard %}
                        <li class="breadcrumb-item">
                            <a href="{{ dashboard }}">
                                {% translate 'Home' %}
                            </a>
                        </li>
                        {% block breadcrumb %}{% endblock %}
                    </ol>
                </nav>
                {% if messages %}
                    {% include 'core_lms/includes/components/messages.html' %}
                {% endif %}
                {% block content %}
                    <h1 class="display-1 mb-5">
                        {% translate 'Welcome to your Dashborad' %}
                    </h1>
                    <div class="row g-3">
                        <div class="col-12 col-lg-6">
                            <div class="card card-body rounded-3">
                                <h2 class="card-title text-primary">
                                    {% translate 'New Program' %}
                                </h2>
                                <p>
                                    {% translate 'Start a new program' %}
                                </p>
                                <a class="btn btn-lg btn-primary" href="{% url 'core_lms:create_program' %}">
                                    {% translate 'New Program' %}
                                </a>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="card card-body rounded-3">
                                <h2 class="card-title text-secondary">
                                    {% translate 'New Course' %}
                                </h2>
                                <p>
                                    {% translate 'Start a new course' %}
                                </p>
                                <a class="btn btn-lg btn-secondary" href="{% url 'core_lms:create_course' %}">
                                    {% translate 'New Course' %}
                                </a>
                            </div>
                        </div>
                    </div>
                {% endblock %}
            </div>
        </div>
    </section>
{% endblock %}