{% extends 'core_lms/base/dashboard.html' %}
{% load i18n %}
{% block title %}{% translate 'My Courses' %}{% endblock %}
{% block breadcrumb %}
    <li class="breadcrumb-item active">
        {% translate 'Courses' %}
    </li>
{% endblock %}
{% block content %}
    <div class="d-grid d-md-flex align-items-center justify-content-md-between gap-4 gap-lg-0 mb-5">
        <h1 class="display-1 mb-0">
            {% translate 'My Courses' %}
        </h1>
        <a class="btn btn-lg btn-primary" href="{% url 'core_lms:create_course' %}">
            <i class="bi bi-plus-lg me-4"></i>
            {% translate 'New' %}
        </a>
    </div>
    <section title="{% translate 'My courses' %}">
        {% for course in course_list %}
            <div class="card rounded-3 shadow mb-5">
                <div class="card-body">
                    <div class="card-title d-flex align-items-center justify-content-between mb-4">
                        <h2 class="mb-0">{{ course.title }}</h2>
                        {% if request.user == course.user %}
                            <div class="dropdown">
                                <a href="#" data-bs-toggle="dropdown">
                                    <i class="bi bi-three-dots"></i>
                                </a>
                                <div class="dropdown-menu rounded-3 shadow">
                                    <div class="dropdown-header">
                                        {% translate 'Course Menu' %}
                                    </div>
                                    <div class="dropdown-item">
                                        <a class="dropdown-item-text d-flex align-items-center gap-4"
                                           href="{% url 'core_lms:edit_course' course.id %}">
                                            <i class="bi bi-pencil"></i>
                                            {% translate 'Edit' %}
                                        </a>
                                    </div>
                                    <div class="dropdown-item">
                                        <a class="dropdown-item-text d-flex align-items-center gap-4"
                                           href="{% url 'core_lms:delete_course' course.id %}">
                                            <i class="bi bi-trash"></i>
                                            {% translate 'Delete' %}
                                        </a>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    <p class="lead">
                        {{ course.about }}
                    </p>
                </div>
            </div>
        {% endfor %}
    </section>
{% endblock %}