{% extends 'core_lms/base/dashboard.html' %}
{% load i18n %}
{% block title %}{% translate 'My programs' %}{% endblock %}
{% block breadcrumb %}
    <li class="breadcrumb-item active">
        {% translate 'Programs' %}
    </li>
{% endblock %}
{% block content %}
    <div class="d-grid d-md-flex align-items-center justify-content-md-between gap-4 gap-lg-0 mb-5">
        <h1 class="display-1 mb-0">
            {% translate 'My Programs' %}
        </h1>
        <a class="btn btn-lg btn-primary" href="{% url 'core_lms:create_program' %}">
            <i class="bi bi-plus-lg me-4"></i>
            {% translate 'New' %}
        </a>
    </div>
    <section title="{% translate 'My programs' %}">
        {% for program in program_list %}
            <div class="card rounded-3 shadow mb-5">
                <div class="card-body">
                    <div class="card-title d-flex align-items-center justify-content-between mb-4">
                        <h2 class="mb-0">{{ program.title }}</h2>
                        {% if request.user == program.user %}
                            <div class="dropdown">
                                <a href="#" data-bs-toggle="dropdown">
                                    <i class="bi bi-three-dots"></i>
                                </a>
                                <div class="dropdown-menu rounded-3 shadow">
                                    <div class="dropdown-header">
                                        {% translate 'Program Menu' %}
                                    </div>
                                    <div class="dropdown-item">
                                        <a class="dropdown-item-text d-flex align-items-center gap-4"
                                           href="{% url 'core_lms:edit_program' program.id %}">
                                            <i class="bi bi-pencil"></i>
                                            {% translate 'Edit' %}
                                        </a>
                                    </div>
                                    <div class="dropdown-item">
                                        <a class="dropdown-item-text d-flex align-items-center gap-4"
                                           href="{% url 'core_lms:delete_program' program.id %}">
                                            <i class="bi bi-trash"></i>
                                            {% translate 'Delete' %}
                                        </a>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    <p class="lead">
                        {{ program.about }}
                    </p>
                    {% if program.course_set.all %}
                        <div>
                            <nav class="mb-4">
                                <div class="nav gap-4" id="nav-tab" role="tablist">
                                    {% for course in program.course_set.all %}
                                        <a href="#"
                                           role="tab"
                                           data-bs-toggle="tab"
                                           class="nav-link{% if forloop.counter == 1 %} active{% endif %}"
                                           id="{{ program.title|lower|slugify }}-course-{{ forloop.counter }}-tab"
                                           data-bs-target="#{{ program.title|lower|slugify }}-course-{{ forloop.counter }}"
                                           aria-controls="{{ program.title|lower|slugify }}-course-{{ forloop.counter }}"
                                        >
                                            {{ forloop.counter }}
                                        </a>
                                    {% endfor %}
                                </div>
                            </nav>
                            <div class="tab-content" id="nav-tabContent">
                                {% for course in program.course_set.all %}
                                    <div role="tabpanel"
                                         id="{{ program.title|lower|slugify }}-course-{{ forloop.counter }}"
                                         class="tab-pane fade {% if forloop.counter == 1 %}show active{% endif %}"
                                         aria-labelledby="{{ program.title|lower|slugify }}-course-{{ forloop.counter }}-tab"
                                    >
                                        <div class="card card-body">
                                            <div class="d-flex align-items-center justify-content-between mb-4">
                                                <h3 class="mb-0">{{ course.title }}</h3>
                                                {% if request.user == course.user %}
                                                    <div class="dropdown">
                                                        <a href="#" data-bs-toggle="dropdown">
                                                            <i class="bi bi-three-dots"></i>
                                                        </a>
                                                        <div class="dropdown-menu rounded-3 shadow">
                                                            <div class="dropdown-header">
                                                                {% translate 'Course Menu' %}
                                                            </div>
                                                            <div class="dropdown-item">
                                                                <a class="dropdown-item-text d-flex align-items-center gap-4"
                                                                   href="{% url 'core_lms:edit_course' course.id %}">
                                                                    <i class="bi bi-pencil"></i>
                                                                    {% translate 'Edit' %}
                                                                </a>
                                                            </div>
                                                            <div class="dropdown-item">
                                                                <a class="dropdown-item-text d-flex align-items-center gap-4"
                                                                   href="{% url 'core_lms:delete_course' course.id %}">
                                                                    <i class="bi bi-trash"></i>
                                                                    {% translate 'Delete' %}
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            </div>
                                            <p class="lead">
                                                {{ course.about }}
                                            </p>
                                            <a href="{% url 'core_lms:course_detail' course.id %}"
                                               class="btn btn-lg btn-primary">
                                                {% translate 'Resume' %}
                                            </a>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </section>
{% endblock %}