{% extends 'core_lms/base/base_site.html' %}
{% load i18n %}
{% block title %}{% translate 'Login' %}{% endblock %}
{% block content %}
    <h1 class="display-1 text-center mb-5">
        {% translate 'Welcome Back!' %}
    </h1>
    <div class="d-flex align-items-center justify-content-center">
        <div class="col-12 col-md-8 col-lg-6 border rounded-3 p-3 shadow-lg mb-5">
            <nav>
                <div class="nav border-0 pb-1 gap-4" id="nav-tab" role="tablist">
                    <a href="#"
                       role="tab"
                       id="nav-sign-in-tab"
                       aria-selected="true"
                       data-bs-toggle="tab"
                       class="nav-link active"
                       aria-controls="nav-sign-in"
                       data-bs-target="#nav-sign-in"
                    >
                        {% translate 'Log In' %}
                    </a>
                    <a href="#"
                       role="tab"
                       class="nav-link"
                       id="nav-signup-tab"
                       data-bs-toggle="tab"
                       aria-selected="false"
                       aria-controls="nav-signup"
                       data-bs-target="#nav-signup"
                    >
                        {% translate 'Register' %}
                    </a>
                </div>
            </nav>
            <div class="card border-0" style="border-top-right-radius: 0; border-top-left-radius: 0">
                <div class="card-body">
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-sign-in" role="tabpanel"
                             aria-labelledby="nav-sign-in-tab">
                            <h1 class="display-6 text-primary mb-5">
                                {% translate 'Log In' %}
                            </h1>
                            {% include 'core_lms/includes/utilties/form.html' with form_tag=1 id='login_form' method='post' floating_labels=1 %}
                            {% url 'core_lms:index' as url %}
                            {% include 'core_lms/includes/utilties/submit.html' with form_id='login_form' submit_btn_text='Log In' cancel_url=url %}
                        </div>
                        <div class="tab-pane fade" id="nav-signup" role="tabpanel" aria-labelledby="nav-signup-tab">
                            <h1 class="display-6 text-primary mb-5">
                                {% translate 'Register' %}
                            </h1>
                            {% url 'core_lms:register' as action %}
                            {% include 'core_lms/includes/utilties/form.html' with form_tag=1 form=signup_form method='post' action=action id='signup_form' floating_labels=1 %}
                            {% include 'core_lms/includes/utilties/submit.html' with form_id='signup_form' reset=1 cancel_url=url %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}