{% extends 'core_lms/views/delete/template.html' %}
{% load i18n %}
{% block title %}{% translate 'Delete course ' %}{{ course.title }}{% endblock %}
{% block breadcrumb_item %}
    <li class="breadcrumb-item">
        <a href="{% url 'core_lms:course_list' %}">
            {% translate 'Courses' %}
        </a>
    </li>
    <li class="breadcrumb-item">
        <a href="{% url 'core_lms:edit_course' course.id %}">
            {{ course.title }}
        </a>
    </li>
{% endblock %}
{% block page_title %}{% translate 'Delete ' %}{{ course.title }}{% endblock %}