{% extends 'core_lms/views/delete/template.html' %}
{% load i18n %}
{% block title %}{% translate 'Delete program ' %}{{ program.title }}{% endblock %}
{% block breadcrumb_item %}
    <li class="breadcrumb-item">
        <a href="{% url 'core_lms:program_list' %}">
            {% translate 'Programs' %}
        </a>
    </li>
    <li class="breadcrumb-item">
        <a href="{% url 'core_lms:edit_program' program.id %}">
            {{ program.title }}
        </a>
    </li>
{% endblock %}
{% block page_title %}{% translate 'Delete ' %}{{ program.title }}{% endblock %}